.container {
    width: calc(100vw - 8rem);
    box-sizing: border-box;
    min-height: calc(90vh - 80px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 470px;
}
.content-header {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700;
    position: relative;
}
.content-header img {
    height: 3.4rem;
    position: absolute;
    left: 312px;
}
.content-description {
    font-size: 1.1rem;
    color: #555;
    text-align: justify;
    line-height: 1.7;
}
.icons-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
a {
    color: black;
    transition: all linear .2s;
}
a:hover {
    color: #147efb;
}