.container {
    width: calc(100vw - 16rem);
    box-sizing: border-box;
    min-height: calc(90vh - 80px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 470px;
}
.content-header {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700;
    position: relative;
}
.content-header img {
    height: 3.4rem;
    position: absolute;
    left: 312px;
}
.content-description {
    font-size: 1.1rem;
    color: #555;
    text-align: justify;
    line-height: 1.7;
}
.icons-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
a {
    color: black;
    transition: all linear .2s;
}
a:hover {
    color: #147efb;
}
.profile-container {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url('./profileImage.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    height: 25rem;
    transition: all 1s ease-in-out;
    width: 25rem;
  }
  @keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      }
      50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
      }
      100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      }
  }